<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<widget xmlns="http://www.w3.org/ns/widgets"
	id="nz.co.senanque.madura-mobile-demo"
	xmlns:gap= "http://phonegap.com/ns/1.0"
	xmlns:android= "http://schemas.android.com/apk/res/android"
	versionCode = "10"
	version="0.0.2-SNAPSHOT">
	<name>madura-mobile-demo</name>
	<description>
		Demonstrates a wrapped Vaadin App that uses Madura
	</description>
	<author href="https://github.com/RogerParkinson/madura-vaadin-support"
		email="roger.parkinson35@gmail.com">
		Roger Parkinson
	</author>
	<gap:splash src="astrolab-splash.png" platform="android" qualifier="mdpi"/>
	<preference name="phonegap-version" value="cli-6.3.0" />
	<preference name="orientation" value="portrait" />
	<preference name="fullscreen" value="false" />
	<!-- These rules lets demo.vaadin.com take over the web view created by 
		cordova/phonegap -->
	<preference name="stay-in-webview" value="true" />
	<preference name="SplashScreenDelay" value="7000" />
<!-- 
	<gap:config-file platform="android" target="AndroidManifest.xml" parent="/manifest/application" mode="add">
        <activity android:name=".Convert"
                  android:label="@string/app_name"
                   android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
	</gap:config-file>
 -->
	<supports-screens android:anyDensity="true" android:resizeable="true" 
	    android:smallScreens="true" 
	    android:normalScreens="true" 
	    android:largeScreens="true" 
	    android:xlargeScreens="true" />
  	<icon src="astrolab-icon.png" platform="android" width="100" height="100"/>
 	
	<feature name="http://api.phonegap.com/1.0/network"/>
	<gap:plugin name="cordova-plugin-inappbrowser" source="npm" version="1.5.0" /> <!-- the gap: in this tag is vital -->

	<content src="index.html" />
	<access origin="*" />
	<gap:splash src="astrolab-splash.png" gap:platform="android" gap:qualifier="port-mdpi"/>

</widget>
